$very-dark-gray: hsl(0, 0%, 17%);
$dark-gray: hsl(0, 0%, 59%);
$font-family: "Rubik", sans-serif;

$font-size-sm: 0.6rem;
$font-size-sm-md: 0.7rem;
$font-size-md: 0.9rem;
$font-size-md-lg: 1.2rem;
$font-size-lg: 1.4rem;

$font-size-mob-sm: 0.5rem;
$font-size-mob-sm-md: 0.6rem;
$font-size-mob-md: 0.8rem;
$font-size-mob-md-lg: 1.1rem;
$font-size-mob-lg: 1.2rem;
